# **1. Create dummy dataset/sample data**

In [1]:
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.2-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.2 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.2

In [2]:
import pandas as pd
from pandas import to_datetime
from faker.providers import date_time
import random

In [3]:
from faker import Faker

In [4]:
fake = Faker(['id_ID'])
type_of_device = ['ipad', 'iphone', 'android', 'mac', 'tablet']
digital_interest = ['ecommerce', 'travelling', 'music', 'science', 'social media']
location_type = ['ID']
data_to_merge = {
         'login_timestamp': [fake.date_time_this_year() for i in range(100)],
         'phone_number': [fake.phone_number() for i in range(100)]
         }

df_to_merge = pd.DataFrame(data_to_merge)
df_to_merge['type_of_device'] = [''.join(random.choice(type_of_device) for x in range(1)) for _ in range(len(df_to_merge))]
df_to_merge['digital_interest'] = [''.join(random.choice(digital_interest) for x in range(1)) for _ in range(len(df_to_merge))]
df_to_merge['location_type'] = [''.join(random.choice(location_type) for x in range(1)) for _ in range(len(df_to_merge))]

In [5]:
df_to_merge

,login_timestamp,phone_number,type_of_device,digital_interest,location_type
0,2022-09-12 04:04:35,+62-0846-467-7302,iphone,ecommerce,ID
1,2022-09-08 13:38:58,+62 (0828) 160 2685,iphone,ecommerce,ID
2,2022-05-09 17:07:06,0822592351,android,ecommerce,ID
3,2022-03-01 00:32:12,+62 (13) 269-5399,tablet,social media,ID
4,2022-09-10 08:12:13,+62-044-800-1347,tablet,ecommerce,ID
...,...,...,...,...,...
95,2022-08-20 17:52:23,(0774) 300-8151,android,science,ID
96,2022-07-26 02:03:17,+62 (495) 221 2692,iphone,travelling,ID
97,2022-03-27 16:18:46,+62 (301) 422 6915,iphone,social media,ID
98,2022-09-14 19:45:00,+62-57-149-9547,iphone,music,ID
99,2022-04-08 20:24:29,+62-057-187-8131,iphone,science,ID

In [6]:
fake = Faker(['id_ID'])
profiles = [fake.profile() for i in range(100)]
df = pd.DataFrame(profiles)

In [7]:
df

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,"Engineer, water",CV Tampubolon,144-13-1959,"Jalan Jayawijaya No. 73\nSungai Penuh, Jawa Ti...","(-25.5409105, -54.571890)",A+,"[https://pd.go.id/, http://www.perum.mil.id/, ...",martana06,Eva Maryati,F,"Jl. Dipenogoro No. 08\nDenpasar, Jawa Tengah 3...",hidayatbalijan@gmail.com,1969-08-03
1,Contracting civil engineer,UD Novitasari Widiastuti Tbk,214-54-2305,Jalan Erlangga No. 51\nKota Administrasi Jakar...,"(38.291202, 143.759578)",A+,"[http://perum.or.id/, https://www.perum.web.id...",laswi96,"Kasiran Tarihoran, M.Kom.",M,"Jalan Monginsidi No. 5\nBanda Aceh, Sumatera S...",keisha50@gmail.com,1920-01-30
2,"Investment banker, operational",CV Mandasari Prasasta (Persero) Tbk,260-47-4052,"Jl. Sentot Alibasa No. 5\nSungai Penuh, KS 97532","(52.573528, -166.066575)",AB+,"[https://www.ud.mil.id/, https://www.cv.sch.id/]",gsafitri,"R. Irma Widodo, S.T.",M,"Gang Jakarta No. 0\nBau-Bau, Kalimantan Selata...",cemetihabibi@yahoo.com,1918-06-18
3,"Engineer, chemical",UD Wulandari Tbk,422-95-3104,"Gg. Dipenogoro No. 60\nMalang, Banten 28737","(-20.097012, 56.299323)",AB+,"[https://www.pt.com/, https://www.pd.go.id/, h...",rendyyolanda,Yance Sinaga,F,"Gg. Raya Setiabudhi No. 0\nPasuruan, MA 15009",winarnowage@hotmail.com,1928-06-05
4,Television production assistant,PT Irawan Winarno Tbk,634-11-9940,"Jl. Gardujati No. 31\nSibolga, Sumatera Utara ...","(-56.0738015, -177.778953)",AB+,"[http://ud.gov/, https://www.cv.id/, http://ww...",lalita32,Lidya Oktaviani,M,"Gg. Wonoayu No. 13\nPalu, Jambi 05629",ilaksita@gmail.com,1926-11-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Estate manager/land agent,Perum Hakim (Persero) Tbk,588-55-6905,"Gg. H.J Maemunah No. 2\nPalangkaraya, LA 01986","(14.238665, 106.822566)",O+,"[http://pd.sch.id/, http://cv.co.id/, http://p...",prasastabancar,"Lurhur Saefullah, M.TI.",M,"Gg. Abdul Muis No. 89\nLhokseumawe, KS 13082",gaiman00@gmail.com,2006-04-10
96,"Sound technician, broadcasting/film/video",UD Tamba Tbk,058-74-6332,"Jl. BKR No. 3\nPurwokerto, BT 50869","(42.8516165, -41.524890)",O+,"[http://www.pd.net.id/, https://ud.net.id/, ht...",budiyantoolga,Winda Siregar,M,"Jalan Merdeka No. 8\nSungai Penuh, Aceh 35044",dnainggolan@gmail.com,1952-03-26
97,Armed forces technical officer,UD Mandala Tbk,696-18-7129,"Gang Siliwangi No. 630\nBengkulu, LA 50932","(-35.587593, -163.301619)",A+,"[http://www.pd.int/, https://www.ud.ac.id/, ht...",hamimawastuti,Jamal Farida,M,"Jl. M.H Thamrin No. 1\nPontianak, RI 92913",melaniyahya@yahoo.com,2001-04-24
98,"Solicitor, Scotland",PT Manullang Jailani,216-11-0353,"Jalan Rumah Sakit No. 67\nAmbon, Maluku Utara ...","(-68.360221, 87.330852)",AB+,"[https://www.perum.sch.id/, https://www.cv.net...",hamzah79,Cakrawangsa Latupono,M,"Gg. Tebet Barat Dalam No. 3\nPalopo, Jawa Timu...",putravera@hotmail.com,1916-04-17
99,Information officer,PT Saptono Puspita Tbk,191-94-4514,"Jl. Jakarta No. 28\nJambi, JK 36994","(60.573001, -17.388521)",A-,"[http://cv.biz.id/, http://cv.go.id/, https://...",yrahmawati,Hasim Rahmawati,F,"Jalan Rajiman No. 541\nBinjai, SG 24346",birawan@hotmail.com,1946-04-19

In [8]:
union_dfs = pd.concat([df, df_to_merge], axis=1)
print(union_dfs)

                                          job  \
0                             Engineer, water
1                  Contracting civil engineer
2              Investment banker, operational
3                          Engineer, chemical
4             Television production assistant
..                                        ...
95                  Estate manager/land agent
96  Sound technician, broadcasting/film/video
97             Armed forces technical officer
98                        Solicitor, Scotland
99                        Information officer

                                company          ssn  \
0                         CV Tampubolon  144-13-1959
1          UD Novitasari Widiastuti Tbk  214-54-2305
2   CV Mandasari Prasasta (Persero) Tbk  260-47-4052
3                      UD Wulandari Tbk  422-95-3104
4                 PT Irawan Winarno Tbk  634-11-9940
..                                  ...          ...
95            Perum Hakim (Persero) Tbk  588-55-6905
96                         UD Tamba Tbk  058-74-6332
97                       UD Mandala Tbk  696-18-7129
98                 PT Manullang Jailani  216-11-0353
99               PT Saptono Puspita Tbk  191-94-4514

                                            residence  \
0   Jalan Jayawijaya No. 73\nSungai Penuh, Jawa Ti...
1   Jalan Erlangga No. 51\nKota Administrasi Jakar...
2    Jl. Sentot Alibasa No. 5\nSungai Penuh, KS 97532
3         Gg. Dipenogoro No. 60\nMalang, Banten 28737
4   Jl. Gardujati No. 31\nSibolga, Sumatera Utara ...
..                                                ...
95     Gg. H.J Maemunah No. 2\nPalangkaraya, LA 01986
96                Jl. BKR No. 3\nPurwokerto, BT 50869
97         Gang Siliwangi No. 630\nBengkulu, LA 50932
98  Jalan Rumah Sakit No. 67\nAmbon, Maluku Utara ...
99                Jl. Jakarta No. 28\nJambi, JK 36994

              current_location blood_group  \
0    (-25.5409105, -54.571890)          A+
1      (38.291202, 143.759578)          A+
2     (52.573528, -166.066575)         AB+
3      (-20.097012, 56.299323)         AB+
4   (-56.0738015, -177.778953)         AB+
..                         ...         ...
95     (14.238665, 106.822566)          O+
96    (42.8516165, -41.524890)          O+
97   (-35.587593, -163.301619)          A+
98     (-68.360221, 87.330852)         AB+
99     (60.573001, -17.388521)          A-

                                              website        username  \
0   [https://pd.go.id/, http://www.perum.mil.id/, ...       martana06
1   [http://perum.or.id/, https://www.perum.web.id...         laswi96
2    [https://www.ud.mil.id/, https://www.cv.sch.id/]        gsafitri
3   [https://www.pt.com/, https://www.pd.go.id/, h...    rendyyolanda
4   [http://ud.gov/, https://www.cv.id/, http://ww...        lalita32
..                                                ...             ...
95  [http://pd.sch.id/, http://cv.co.id/, http://p...  prasastabancar
96  [http://www.pd.net.id/, https://ud.net.id/, ht...   budiyantoolga
97  [http://www.pd.int/, https://www.ud.ac.id/, ht...   hamimawastuti
98  [https://www.perum.sch.id/, https://www.cv.net...        hamzah79
99  [http://cv.biz.id/, http://cv.go.id/, https://...      yrahmawati

                         name sex  \
0                 Eva Maryati   F
1   Kasiran Tarihoran, M.Kom.   M
2        R. Irma Widodo, S.T.   M
3                Yance Sinaga   F
4             Lidya Oktaviani   M
..                        ...  ..
95    Lurhur Saefullah, M.TI.   M
96              Winda Siregar   M
97               Jamal Farida   M
98       Cakrawangsa Latupono   M
99            Hasim Rahmawati   F

                                              address  \
0   Jl. Dipenogoro No. 08\nDenpasar, Jawa Tengah 3...
1   Jalan Monginsidi No. 5\nBanda Aceh, Sumatera S...
2   Gang Jakarta No. 0\nBau-Bau, Kalimantan Selata...
3       Gg. Raya Setiabudhi No. 0\nPasuruan, MA 15009
4               Gg. Wonoayu No. 13\nPalu, Jambi 05629
..                                                ...
95       Gg. Abdul Muis No. 89\nLhokseumawe, KS 13082
96      Jalan Merdeka No. 8\nSungai Penuh, Aceh 35044
97         Jl. M.H Thamrin No. 1\nPontianak, RI 92913
98  Gg. Tebet Barat Dalam No. 3\nPalopo, Jawa Timu...
99            Jalan Rajiman No. 541\nBinjai, SG 24346

                        mail   birthdate     login_timestamp  \
0   hidayatbalijan@gmail.com  1969-08-03 2022-09-12 04:04:35
1         keisha50@gmail.com  1920-01-30 2022-09-08 13:38:58
2     cemetihabibi@yahoo.com  1918-06-18 2022-05-09 17:07:06
3    winarnowage@hotmail.com  1928-06-05 2022-03-01 00:32:12
4         ilaksita@gmail.com  1926-11-20 2022-09-10 08:12:13
..                       ...         ...                 ...
95        gaiman00@gmail.com  2006-04-10 2022-08-20 17:52:23
96     dnainggolan@gmail.com  1952-03-26 2022-07-26 02:03:17
97     melaniyahya@yahoo.com  2001-04-24 2022-03-27 16:18:46
98     putravera@hotmail.com  1916-04-17 2022-09-14 19:45:00
99       birawan@hotmail.com  1946-04-19 2022-04-08 20:24:29

           phone_number type_of_device digital_interest location_type
0     +62-0846-467-7302         iphone        ecommerce            ID
1   +62 (0828) 160 2685         iphone        ecommerce            ID
2            0822592351        android        ecommerce            ID
3     +62 (13) 269-5399         tablet     social media            ID
4      +62-044-800-1347         tablet        ecommerce            ID
..                  ...            ...              ...           ...
95      (0774) 300-8151        android          science            ID
96   +62 (495) 221 2692         iphone       travelling            ID
97   +62 (301) 422 6915         iphone     social media            ID
98      +62-57-149-9547         iphone            music            ID
99     +62-057-187-8131         iphone          science            ID

[100 rows x 18 columns]

## **2. Checking for a new variabel**

a. create new variable **address**

In [9]:
separator = ','
union_dfs[['address', 'city']] = union_dfs['residence'].str.split('\n', 1, expand=True)
union_dfs['city'] = [i.rsplit(separator, 1)[0] for i in union_dfs['city']]

b. create new variable **province**

In [10]:
union_dfs['province'] = [i.rsplit(',', 1)[1] for i in union_dfs['residence']]
union_dfs['province'] = [i.rsplit(' ', 1)[0] for i in union_dfs['province']]

In [11]:
union_dfs

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate,login_timestamp,phone_number,type_of_device,digital_interest,location_type,city,province
0,"Engineer, water",CV Tampubolon,144-13-1959,"Jalan Jayawijaya No. 73\nSungai Penuh, Jawa Ti...","(-25.5409105, -54.571890)",A+,"[https://pd.go.id/, http://www.perum.mil.id/, ...",martana06,Eva Maryati,F,Jalan Jayawijaya No. 73,hidayatbalijan@gmail.com,1969-08-03,2022-09-12 04:04:35,+62-0846-467-7302,iphone,ecommerce,ID,Sungai Penuh,Jawa Timur
1,Contracting civil engineer,UD Novitasari Widiastuti Tbk,214-54-2305,Jalan Erlangga No. 51\nKota Administrasi Jakar...,"(38.291202, 143.759578)",A+,"[http://perum.or.id/, https://www.perum.web.id...",laswi96,"Kasiran Tarihoran, M.Kom.",M,Jalan Erlangga No. 51,keisha50@gmail.com,1920-01-30,2022-09-08 13:38:58,+62 (0828) 160 2685,iphone,ecommerce,ID,Kota Administrasi Jakarta Timur,Kepulauan Bangka Belitung
2,"Investment banker, operational",CV Mandasari Prasasta (Persero) Tbk,260-47-4052,"Jl. Sentot Alibasa No. 5\nSungai Penuh, KS 97532","(52.573528, -166.066575)",AB+,"[https://www.ud.mil.id/, https://www.cv.sch.id/]",gsafitri,"R. Irma Widodo, S.T.",M,Jl. Sentot Alibasa No. 5,cemetihabibi@yahoo.com,1918-06-18,2022-05-09 17:07:06,0822592351,android,ecommerce,ID,Sungai Penuh,KS
3,"Engineer, chemical",UD Wulandari Tbk,422-95-3104,"Gg. Dipenogoro No. 60\nMalang, Banten 28737","(-20.097012, 56.299323)",AB+,"[https://www.pt.com/, https://www.pd.go.id/, h...",rendyyolanda,Yance Sinaga,F,Gg. Dipenogoro No. 60,winarnowage@hotmail.com,1928-06-05,2022-03-01 00:32:12,+62 (13) 269-5399,tablet,social media,ID,Malang,Banten
4,Television production assistant,PT Irawan Winarno Tbk,634-11-9940,"Jl. Gardujati No. 31\nSibolga, Sumatera Utara ...","(-56.0738015, -177.778953)",AB+,"[http://ud.gov/, https://www.cv.id/, http://ww...",lalita32,Lidya Oktaviani,M,Jl. Gardujati No. 31,ilaksita@gmail.com,1926-11-20,2022-09-10 08:12:13,+62-044-800-1347,tablet,ecommerce,ID,Sibolga,Sumatera Utara
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Estate manager/land agent,Perum Hakim (Persero) Tbk,588-55-6905,"Gg. H.J Maemunah No. 2\nPalangkaraya, LA 01986","(14.238665, 106.822566)",O+,"[http://pd.sch.id/, http://cv.co.id/, http://p...",prasastabancar,"Lurhur Saefullah, M.TI.",M,Gg. H.J Maemunah No. 2,gaiman00@gmail.com,2006-04-10,2022-08-20 17:52:23,(0774) 300-8151,android,science,ID,Palangkaraya,LA
96,"Sound technician, broadcasting/film/video",UD Tamba Tbk,058-74-6332,"Jl. BKR No. 3\nPurwokerto, BT 50869","(42.8516165, -41.524890)",O+,"[http://www.pd.net.id/, https://ud.net.id/, ht...",budiyantoolga,Winda Siregar,M,Jl. BKR No. 3,dnainggolan@gmail.com,1952-03-26,2022-07-26 02:03:17,+62 (495) 221 2692,iphone,travelling,ID,Purwokerto,BT
97,Armed forces technical officer,UD Mandala Tbk,696-18-7129,"Gang Siliwangi No. 630\nBengkulu, LA 50932","(-35.587593, -163.301619)",A+,"[http://www.pd.int/, https://www.ud.ac.id/, ht...",hamimawastuti,Jamal Farida,M,Gang Siliwangi No. 630,melaniyahya@yahoo.com,2001-04-24,2022-03-27 16:18:46,+62 (301) 422 6915,iphone,social media,ID,Bengkulu,LA
98,"Solicitor, Scotland",PT Manullang Jailani,216-11-0353,"Jalan Rumah Sakit No. 67\nAmbon, Maluku Utara ...","(-68.360221, 87.330852)",AB+,"[https://www.perum.sch.id/, https://www.cv.net...",hamzah79,Cakrawangsa Latupono,M,Jalan Rumah Sakit No. 67,putravera@hotmail.com,1916-04-17,2022-09-14 19:45:00,+62-57-149-9547,iphone,music,ID,Ambon,Maluku Utara
99,Information officer,PT Saptono Puspita Tbk,191-94-4514,"Jl. Jakarta No. 28\nJambi, JK 36994","(60.573001, -17.388521)",A-,"[http://cv.biz.id/, http://cv.go.id/, https://...",yrahmawati,Hasim Rahmawati,F,Jl. Jakarta No. 28,birawan@hotmail.com,1946-04-19,2022-04-08 20:24:29,+62-057-187-8131,iphone,science,ID,Jambi,JK

c. Create new variable **age**

In [12]:
from datetime import datetime
today = datetime.today()
union_dfs['age'] = union_dfs['birthdate'].apply(
               lambda x: today.year - x.year - 
               ((today.month, today.day) < (x.month, x.day)) 
               )

In [13]:
union_dfs

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,...,mail,birthdate,login_timestamp,phone_number,type_of_device,digital_interest,location_type,city,province,age
0,"Engineer, water",CV Tampubolon,144-13-1959,"Jalan Jayawijaya No. 73\nSungai Penuh, Jawa Ti...","(-25.5409105, -54.571890)",A+,"[https://pd.go.id/, http://www.perum.mil.id/, ...",martana06,Eva Maryati,F,...,hidayatbalijan@gmail.com,1969-08-03,2022-09-12 04:04:35,+62-0846-467-7302,iphone,ecommerce,ID,Sungai Penuh,Jawa Timur,53
1,Contracting civil engineer,UD Novitasari Widiastuti Tbk,214-54-2305,Jalan Erlangga No. 51\nKota Administrasi Jakar...,"(38.291202, 143.759578)",A+,"[http://perum.or.id/, https://www.perum.web.id...",laswi96,"Kasiran Tarihoran, M.Kom.",M,...,keisha50@gmail.com,1920-01-30,2022-09-08 13:38:58,+62 (0828) 160 2685,iphone,ecommerce,ID,Kota Administrasi Jakarta Timur,Kepulauan Bangka Belitung,102
2,"Investment banker, operational",CV Mandasari Prasasta (Persero) Tbk,260-47-4052,"Jl. Sentot Alibasa No. 5\nSungai Penuh, KS 97532","(52.573528, -166.066575)",AB+,"[https://www.ud.mil.id/, https://www.cv.sch.id/]",gsafitri,"R. Irma Widodo, S.T.",M,...,cemetihabibi@yahoo.com,1918-06-18,2022-05-09 17:07:06,0822592351,android,ecommerce,ID,Sungai Penuh,KS,104
3,"Engineer, chemical",UD Wulandari Tbk,422-95-3104,"Gg. Dipenogoro No. 60\nMalang, Banten 28737","(-20.097012, 56.299323)",AB+,"[https://www.pt.com/, https://www.pd.go.id/, h...",rendyyolanda,Yance Sinaga,F,...,winarnowage@hotmail.com,1928-06-05,2022-03-01 00:32:12,+62 (13) 269-5399,tablet,social media,ID,Malang,Banten,94
4,Television production assistant,PT Irawan Winarno Tbk,634-11-9940,"Jl. Gardujati No. 31\nSibolga, Sumatera Utara ...","(-56.0738015, -177.778953)",AB+,"[http://ud.gov/, https://www.cv.id/, http://ww...",lalita32,Lidya Oktaviani,M,...,ilaksita@gmail.com,1926-11-20,2022-09-10 08:12:13,+62-044-800-1347,tablet,ecommerce,ID,Sibolga,Sumatera Utara,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Estate manager/land agent,Perum Hakim (Persero) Tbk,588-55-6905,"Gg. H.J Maemunah No. 2\nPalangkaraya, LA 01986","(14.238665, 106.822566)",O+,"[http://pd.sch.id/, http://cv.co.id/, http://p...",prasastabancar,"Lurhur Saefullah, M.TI.",M,...,gaiman00@gmail.com,2006-04-10,2022-08-20 17:52:23,(0774) 300-8151,android,science,ID,Palangkaraya,LA,16
96,"Sound technician, broadcasting/film/video",UD Tamba Tbk,058-74-6332,"Jl. BKR No. 3\nPurwokerto, BT 50869","(42.8516165, -41.524890)",O+,"[http://www.pd.net.id/, https://ud.net.id/, ht...",budiyantoolga,Winda Siregar,M,...,dnainggolan@gmail.com,1952-03-26,2022-07-26 02:03:17,+62 (495) 221 2692,iphone,travelling,ID,Purwokerto,BT,70
97,Armed forces technical officer,UD Mandala Tbk,696-18-7129,"Gang Siliwangi No. 630\nBengkulu, LA 50932","(-35.587593, -163.301619)",A+,"[http://www.pd.int/, https://www.ud.ac.id/, ht...",hamimawastuti,Jamal Farida,M,...,melaniyahya@yahoo.com,2001-04-24,2022-03-27 16:18:46,+62 (301) 422 6915,iphone,social media,ID,Bengkulu,LA,21
98,"Solicitor, Scotland",PT Manullang Jailani,216-11-0353,"Jalan Rumah Sakit No. 67\nAmbon, Maluku Utara ...","(-68.360221, 87.330852)",AB+,"[https://www.perum.sch.id/, https://www.cv.net...",hamzah79,Cakrawangsa Latupono,M,...,putravera@hotmail.com,1916-04-17,2022-09-14 19:45:00,+62-57-149-9547,iphone,music,ID,Ambon,Maluku Utara,106
99,Information officer,PT Saptono Puspita Tbk,191-94-4514,"Jl. Jakarta No. 28\nJambi, JK 36994","(60.573001, -17.388521)",A-,"[http://cv.biz.id/, http://cv.go.id/, https://...",yrahmawati,Hasim Rahmawati,F,...,birawan@hotmail.com,1946-04-19,2022-04-08 20:24:29,+62-057-187-8131,iphone,science,ID,Jambi,JK,76

In [14]:
sample_dataset = union_dfs.copy()

In [15]:
sample_dataset

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,...,mail,birthdate,login_timestamp,phone_number,type_of_device,digital_interest,location_type,city,province,age
0,"Engineer, water",CV Tampubolon,144-13-1959,"Jalan Jayawijaya No. 73\nSungai Penuh, Jawa Ti...","(-25.5409105, -54.571890)",A+,"[https://pd.go.id/, http://www.perum.mil.id/, ...",martana06,Eva Maryati,F,...,hidayatbalijan@gmail.com,1969-08-03,2022-09-12 04:04:35,+62-0846-467-7302,iphone,ecommerce,ID,Sungai Penuh,Jawa Timur,53
1,Contracting civil engineer,UD Novitasari Widiastuti Tbk,214-54-2305,Jalan Erlangga No. 51\nKota Administrasi Jakar...,"(38.291202, 143.759578)",A+,"[http://perum.or.id/, https://www.perum.web.id...",laswi96,"Kasiran Tarihoran, M.Kom.",M,...,keisha50@gmail.com,1920-01-30,2022-09-08 13:38:58,+62 (0828) 160 2685,iphone,ecommerce,ID,Kota Administrasi Jakarta Timur,Kepulauan Bangka Belitung,102
2,"Investment banker, operational",CV Mandasari Prasasta (Persero) Tbk,260-47-4052,"Jl. Sentot Alibasa No. 5\nSungai Penuh, KS 97532","(52.573528, -166.066575)",AB+,"[https://www.ud.mil.id/, https://www.cv.sch.id/]",gsafitri,"R. Irma Widodo, S.T.",M,...,cemetihabibi@yahoo.com,1918-06-18,2022-05-09 17:07:06,0822592351,android,ecommerce,ID,Sungai Penuh,KS,104
3,"Engineer, chemical",UD Wulandari Tbk,422-95-3104,"Gg. Dipenogoro No. 60\nMalang, Banten 28737","(-20.097012, 56.299323)",AB+,"[https://www.pt.com/, https://www.pd.go.id/, h...",rendyyolanda,Yance Sinaga,F,...,winarnowage@hotmail.com,1928-06-05,2022-03-01 00:32:12,+62 (13) 269-5399,tablet,social media,ID,Malang,Banten,94
4,Television production assistant,PT Irawan Winarno Tbk,634-11-9940,"Jl. Gardujati No. 31\nSibolga, Sumatera Utara ...","(-56.0738015, -177.778953)",AB+,"[http://ud.gov/, https://www.cv.id/, http://ww...",lalita32,Lidya Oktaviani,M,...,ilaksita@gmail.com,1926-11-20,2022-09-10 08:12:13,+62-044-800-1347,tablet,ecommerce,ID,Sibolga,Sumatera Utara,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Estate manager/land agent,Perum Hakim (Persero) Tbk,588-55-6905,"Gg. H.J Maemunah No. 2\nPalangkaraya, LA 01986","(14.238665, 106.822566)",O+,"[http://pd.sch.id/, http://cv.co.id/, http://p...",prasastabancar,"Lurhur Saefullah, M.TI.",M,...,gaiman00@gmail.com,2006-04-10,2022-08-20 17:52:23,(0774) 300-8151,android,science,ID,Palangkaraya,LA,16
96,"Sound technician, broadcasting/film/video",UD Tamba Tbk,058-74-6332,"Jl. BKR No. 3\nPurwokerto, BT 50869","(42.8516165, -41.524890)",O+,"[http://www.pd.net.id/, https://ud.net.id/, ht...",budiyantoolga,Winda Siregar,M,...,dnainggolan@gmail.com,1952-03-26,2022-07-26 02:03:17,+62 (495) 221 2692,iphone,travelling,ID,Purwokerto,BT,70
97,Armed forces technical officer,UD Mandala Tbk,696-18-7129,"Gang Siliwangi No. 630\nBengkulu, LA 50932","(-35.587593, -163.301619)",A+,"[http://www.pd.int/, https://www.ud.ac.id/, ht...",hamimawastuti,Jamal Farida,M,...,melaniyahya@yahoo.com,2001-04-24,2022-03-27 16:18:46,+62 (301) 422 6915,iphone,social media,ID,Bengkulu,LA,21
98,"Solicitor, Scotland",PT Manullang Jailani,216-11-0353,"Jalan Rumah Sakit No. 67\nAmbon, Maluku Utara ...","(-68.360221, 87.330852)",AB+,"[https://www.perum.sch.id/, https://www.cv.net...",hamzah79,Cakrawangsa Latupono,M,...,putravera@hotmail.com,1916-04-17,2022-09-14 19:45:00,+62-57-149-9547,iphone,music,ID,Ambon,Maluku Utara,106
99,Information officer,PT Saptono Puspita Tbk,191-94-4514,"Jl. Jakarta No. 28\nJambi, JK 36994","(60.573001, -17.388521)",A-,"[http://cv.biz.id/, http://cv.go.id/, https://...",yrahmawati,Hasim Rahmawati,F,...,birawan@hotmail.com,1946-04-19,2022-04-08 20:24:29,+62-057-187-8131,iphone,science,ID,Jambi,JK,76

# **3. Download the basic sample data for analysis**

In [16]:
sample_dataset.to_excel("sample_data.xlsx")